input[type="button"] {
    background-color: rgb(30, 160, 192);
    color: rgb(134, 17, 202);
    font-weight: bold;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 14px;
  }

  .small
  {
    height: 100px;
    width: 150px;
  }
  .large
  {
    height: 300px;
    width: 350px;
  }
  img
  {
    border-radius: 10px;
  }
  label
  {
      font-weight: bolder;
      font-size: 20px;
      margin: 3px;
  }
  p
  {
    font-size: 20px;
    font-weight:900;
    padding: 5;
  }